@import 'prism/themes/prism.css'

@import 'tile-view.styl'

#receiver {
  position:absolute;
  height: 80vh;
  width: 80vw;
  left: 10vw;
  top: 10vh;
  z-index: 999;
}

section.deck-notes {

}

.deck-note {
  background: rgb(40, 39, 39);
  color:white;
  position:fixed;
  text-align: left;
  display: block;
  unicode-bidi: embed;
  font-family: "Menlo Regular";
  white-space: pre-wrap;
  width: 1200px;
  left: 0px;
  padding-left:20px;
  padding-top: 7px;
  height: 100%;
  font-size: 35px;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
}