.resource-panel {
  font-family: sans-serif;
  display: none;
  position: fixed;
  background: white;
  border-top: 1px solid black;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
}

.resource-panel ul li a, 
.resource-panel ul li a:hover,
.resource-panel ul li a:visited {
  color: blue
}

.resource-panel ul {
  font-size: 12px
  padding-left: 3.5em
}

.resource-panel ul li {
  padding: 0;
  margin: 0;
}

.resources-view .resource-panel {
  display: block
}