.tile-view
  width: 100vw; 
  height: 80vw; 
  max-height: 100vh;
  max-width: 150vh; 
  margin: auto;

  .bespoke-slide
    overflow hidden
    transform:  scale(0.3)

  .bespoke-active
    top: 17%
    left: 17%


  .bespoke-after-1
    top: 17%
    opacity 1
    pointer-events all


  .bespoke-after-2
    top: 17%
    left: 83%
    opacity 1
    pointer-events all


  .bespoke-after-3
    left: 17%
    opacity 1
    pointer-events all

  .bespoke-after-4
    opacity 1
    pointer-events all

  .bespoke-after-5
    left: 83%
    opacity 1
    pointer-events all

  .bespoke-after-6
    top: 83%
    left: 17%
    opacity 1
    pointer-events all

  .bespoke-after-7
    top: 83%
    opacity 1
    pointer-events all

  .bespoke-after-8
    left: 83%
    top: 83%
    opacity 1
    pointer-events all
