.title-page
  background-position center 90%
  background-repeat no-repeat
  background-size 60%
  justify-content inherit

  h1
    font-size 56.75px
    margin-top 120px
  h1:after
    display none
  h2
    font-size 42.5px
    letter-spacing 0.4px
    margin-top 34px
    letter-spacing 0
    -webkit-font-smoothing auto
  h3
    position absolute
    border 1.5px solid #888
    height 28px
    line-height 28px
    top 3px
    right 6px
    font-size 16.5px
    width 76px
    margin 0
  small
    position absolute
    bottom 1px
    left 3px
    font-size 10px
    width 50%
    text-align left

.section-title
  h1
    font-size 56.75px
    margin-top -50px
  h1:after
    display none
  h2
    font-size 42.5px
    letter-spacing 0.4px
    margin-top 34px
    letter-spacing 0
    -webkit-font-smoothing auto
  h3
    position absolute
    border 1.5px solid #888
    height 28px
    line-height 28px
    top 3px
    right 6px
    font-size 16.5px
    width 76px
    margin 0
  small
    position absolute
    bottom 1px
    left 3px
    font-size 10px
    width 50%
    text-align left

.image
  img
    padding-top 2.5%
    width 75%

.image-caption
  img
    padding-top 0%
    width 75%
  figcaption, h1 + p + p
    margin-top -6px

.image-bullets
  img
    padding-top 6.25%
    padding-bottom 4%
    height 200px
    margin-top -10px
  ul, ol
    margin-top -15px
    flex 0 0 36.25%
    li
      font-size: 26px

.image-caption-bullets
  img
    padding-top 6.25%
    padding-bottom 4%
    height 200px
  figcaption, h1 + p + p
    margin-top -20px


.quote-quote
  blockquote
    height 36.5%
    width 500px

.quote-bullets
  blockquote
    height 36.5%
    width 500px
    display block
    margin-top 40px
  ul, ol
    height 900px

.diagram
  svg
    max-width: 700px;
    padding-top: 9%;

[class*='command-']
  ul, ol
    flex 0 0 45%

[class*=code]
  pre
    width 520px
    font-size 17px
    margin-top 25px
    padding 10px
    line-height 21px
    code
      line-height 1
  p
    margin-top 20px
    font-size 20px
    font-weight 500

.code
  pre
    height 310px


.code-caption
  pre
    margin-top 5px
    height 286px

.code-bullets
  pre
    margin-top 15px
    height 130px
    margin-bottom 0
  ul, ol
    flex 0 0 30%


.bullets-code
  pre
    margin-top 34.5px
    height 130px
    position relative
    z-index 2
    background white!important
  ul, ol
    flex 0 0 30%


[class*=code-snippet-bullets]
  pre:first-of-type
    margin-top 15px
    margin-bottom 3px
    height 80px
    display table
    code
      display table-cell
      vertical-align middle
      text-align left
  ul, ol
    flex 0 0 30%


.code-snippet-bullets-command
  pre
    flex 0 0 5%
  ul, ol
    flex 0 0 35.5%
  pre:last-of-type
    margin-top 0
    margin-left -8px
    width 532px
    flex 0 0 15%

.one-line-code-snippet-bullets
  pre:first-of-type
    height 22px
  ul, ol
    flex 0 0 41%

.two-line-code-snippet-bullets
  pre:first-of-type
    height 22px
  ul, ol
    flex 0 0 37%

.three-line-code-snippet-bullets
  pre:first-of-type
    height 22px
  ul, ol
    flex 0 0 37%


.code-snippet-bullets-command
  pre:last-of-type
    padding-left: 0
    width: 531px

.code-command, .code-command-command
  pre:first-of-type
    margin-bottom -27px
    margin-top 15px
    flex 0 0 57%
    width 520px
    margin-left 0
  pre
    width 532px
    margin-left -10px
  pre + pre
    height: 80px

.code-command-command
  pre:first-of-type
    flex 0 0 50%
  pre:last-of-type
    margin-top -65px


.command-bullets
  pre
    margin-top 35px
    margin-bottom 10px
    padding-top 0
    padding-bottom 0

.bullets-command-command, .command-command-bullets, .command-command-bullets-command
  pre:first-of-type
    margin-top 12px
    margin-bottom 0
    padding-top 0
    padding-bottom 0
  pre
    margin-top 0
    margin-bottom 0
    padding-top 0
    padding-bottom 0

.command-command-command-bullets, .command-command-command-command-bullets
  pre:first-of-type
    margin-top 12px
    margin-bottom 0
    padding-top 0
    padding-bottom 0
  pre
    margin-top 0
    margin-bottom 0
    padding-top 0
    padding-bottom 0

.command-command-command-command-bullets
  ul, ol
    flex 0 0 20%

.command-bullets-command
  pre:first-of-type
    margin-top 14px
    margin-bottom 1px
    padding-top 0
    padding-bottom 0
  pre:last-of-type
    margin-top 12px
    padding-top 0
    padding-bottom 0

.command-command-bullets-command
  ul, ol
    flex 0 0 41%
  pre:last-of-type
    margin-top 0px

